<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1517545084371-4a575dde2a02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');">
  <div class="container">
    <h1>Trouvez la bonne pleureuse pour vos funérailles</h1>
    <p>La meilleure pleureuse pour toutes sortes d'enterrements ou d'événements.</p>

  <form class="form-inline">
    <div class="row">
    <div class="form-group col-xs-3">
    <%= form_tag pleureuses_path, method: :get do %>
      <%= text_field_tag :search,
        params[:search],
        placeholder: "Select a City or Name"
      %>
    </div>
    <div class="col">
      <%= submit_tag "Search", class: "btn-flat2"%>
    </div>
    <% end %>
    </div>
  </form>
  </div>
</div>
<br>
<div class="container">
  <br>
  <div class="cards">
    <%@pleureuses.each do |pleureuse| %>
    <%= link_to pleureuse_path(pleureuse) do  %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= pleureuse.picture %>">
          <center>
          <%= pleureuse.pseudo %>
            <br>
            <font size="3"><%= pleureuse.city %></font>
          </center>
        </div>
    <% end %>
  <% end %>
  </div>
</div>
